<ion-view view-title="Contact Us" hide-nav-bar="false">
    <ion-nav-bar class="bar-assertive">
        <!--        <ion-nav-back-button></ion-nav-back-button>-->
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="card about">
            <h4>NB Team</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; We are a small group from Bagalkot, aiming to create “Online Bagalkot”  And more oftenly we drop photos, updates too. We don’t aim at newspaper like stuff and don’t expect that from us,We are different.
                The idea of “NammaBagalkot” came few years back but was founded on <strong>"28th July 2011"</strong>.</p>
        </div>
        <div class="list">
            <a href="mailto:nammabagalkote@gmail.com" class="item item-avatar item-icon-left">
                <h3>Email Us</h3>
                <p>nammabagalkote@gmail.com</p>
                <i class="icon ion-email"></i>
            </a>
            <a href="tel:08951393283" class="item item-avatar item-icon-left">
                <h3>Call Us</h3>
                <p>08951393283</p>
                <i class="icon ion-android-call"></i>
            </a>
            <a href="http://facebook.com/bagalkotcity" class="item item-avatar item-icon-left">
                <h3>Facebook</h3>
                <p>facebook.com/bagalkotcity</p>
                <i class="icon ion-social-facebook"></i>
            </a>
        </div>

    </ion-content>
    <div class="bar bar-footer bar-calm-100">
        <p class="footerCredit">With <i class="icon ion-heart energized-900"></i><br/>
            by Amrut Deshpande</p>
    </div>
</ion-view>
