<ion-view view-title="Profile" hide-nav-bar="false">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url({{user.cover.source}});">
            <div class="content">
                <div class="avatar" style="background-image:url('{{user.prof}}');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h5><a class="light">{{user.birthday}}</a></h5>
            </div>
        </div>
        <div class="list animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-left">
                <h3>About</h3>
                <p>{{user.bio}}</p>
                <p ng-show="!user.bio">NA</p>
                <i class="icon ion-information"></i>
            </a>
            <a class="item item-avatar item-icon-left">
                <h3>Email</h3>
                <p>{{user.email}}</p>
                <p ng-show="!user.email">NA</p>
                <i class="icon ion-email"></i>
            </a>
            <a  class="item item-avatar item-icon-left">
                <h3>Mobile</h3>
                <p>{{user.mobile}}</p>
                <p ng-show="!user.mobile">NA</p>
                <i class="icon ion-android-call"></i>
            </a>
            <a  class="item item-avatar item-icon-left">
                <h3>Hometown</h3>
                <p>{{user.hometown.name}}</p>
                <p ng-show="!user.hometown.name">{{user.hometown.name}}</p>
                <i class="icon ion-ios-location"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
