<ion-view view-title="Quick Info" hide-nav-bar="false">
    <ion-nav-bar class="bar-assertive">
        <!--        <ion-nav-back-button></ion-nav-back-button>-->
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content>
        <div class="card">
            <ul class="card-item">
                <li class="item ink" ng-repeat="quickInfo in quickInfos">
                    {{quickInfo.key + ":" + quickInfo.val}}
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
